@import "vars";
@import "mixins";

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  word-break: keep-all;
  font-family: "Inter";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

svg {
  display: block;
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
dl,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
