@import "vars";
@import "mixins";

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  word-break: keep-all;
  font-family: "Inter";
  --color1: #fff;
  --color2: #fff;
  --color3: #000;

  &.brasil {
    --color1: #{$brazil-primary-color};
    --color2: #{$brazil-secondary-color};
    --color3: #{$brazil-third-color};

    .background {
      background-image: url("../public/images/backgrounds/brazil-vertical.jpg");

      @include media-desktopSm {
        background-image: url("../public/images/backgrounds/brazil-horizontal.jpg");
      }
    }
  }

  &.italia {
    --color1: #{$italy-primary-color};
    --color2: #{$italy-secondary-color};
    --color3: #{$italy-third-color};

    .background {
      background-image: url("../public/images/backgrounds/italy-vertical.jpg");

      @include media-desktopSm {
        background-image: url("../public/images/backgrounds/italy-horizontal.jpg");
      }
    }
  }

  &.alemanha {
    --color1: #{$germany-primary-color};
    --color2: #{$germany-secondary-color};
    --color3: #{$germany-third-color};

    .background {
      background-image: url("../public/images/backgrounds/germany-vertical.webp");

      @include media-desktopSm {
        background-image: url("../public/images/backgrounds/germany-horizontal.jpg");
      }
    }
  }

  &.argentina {
    --color1: #{$argentina-primary-color};
    --color2: #{$argentina-secondary-color};
    --color3: #{$argentina-third-color};

    .background {
      background-image: url("../public/images/backgrounds/argentina-vertical.jpg");

      @include media-desktopSm {
        background-image: url("../public/images/backgrounds/argentina-horizontal.jpg");
      }
    }
  }

  &.franca {
    --color1: #{$france-primary-color};
    --color2: #{$france-secondary-color};
    --color3: #{$france-third-color};

    .background {
      background-image: url("../public/images/backgrounds/france-vertical.jpg");

      @include media-desktopSm {
        background-image: url("../public/images/backgrounds/france-horizontal.jpg");
      }
    }
  }

  &.uruguai {
    --color1: #{$uruguay-primary-color};
    --color2: #{$uruguay-secondary-color};
    --color3: #{$uruguay-third-color};

    .background {
      background-image: url("../public/images/backgrounds/uruguay-vertical.jpeg");

      @include media-desktopSm {
        background-image: url("../public/images/backgrounds/uruguay-horizontal.jpg");
      }
    }
  }

  &.espanha {
    --color1: #{$spain-primary-color};
    --color2: #{$spain-secondary-color};
    --color3: #{$spain-third-color};

    .background {
      background-image: url("../public/images/backgrounds/spain-vertical.webp");

      @include media-desktopSm {
        background-image: url("../public/images/backgrounds/spain-horizontal.jpg");
      }
    }
  }

  &.inglaterra {
    --color1: #{$england-primary-color};
    --color2: #{$england-secondary-color};
    --color3: #{$england-third-color};

    .background {
      background-image: url("../public/images/backgrounds/england-vertical.jpg");

      @include media-desktopSm {
        background-image: url("../public/images/backgrounds/england-horizontal.jpg");
      }
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

svg {
  display: block;
  fill: currentColor;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
dl,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
