$white: #fff;
$gray: #eeeeee;
$black: #000;
$sulu: #c5ef68;
$shamrock: #47d2b4;
$turquoise: #11ddc4;
$alabaster: #f7f7f7;
$red: rgb(255, 108, 108);

$breakpoint-tablet: 748px;
$breakpoint-desktopSm: 1024px;
$breakpoint-desktopMd: 1420px;

$padding-mobile: 20px;

$gt-america-light: "GT America Light";
$gt-america-expanded-bold: "GT America Expanded Bold";
$gt-america-expanded-medium: "GT America Expanded Medium";
$gt-america-medium: "GT America Medium";

$gradient: linear-gradient(122.79deg, $sulu 0%, $shamrock 56.88%);
